SANITY_STUDIO_PROJECT_ID="<paste-your-project-id>" # Required
SANITY_STUDIO_DATASET="production" # Required
SANITY_STUDIO_PREVIEW_URL="http://localhost:3000" # Optional for local dev
SANITY_STUDIO_STUDIO_HOST="<your-studio-host>.sanity.studio" # Required for deploy target
